<h1>Rooms#photo_upload</h1>
<p>Find me in app/views/rooms/photo_upload.html.erb</p>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <%= render 'room_menu' %>
        </div>
        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                <h4 class="mt-4 mb-4"><b>写真アップロード</b></h4>
                <!-- 写真アップロード -->
                <div class="dropzone" id="myDropzone"  style="height: 200px; border: dashed 1px #333; border-radius: 10px; text-align: center; padding-top: 1rem;" action="/rooms/<%= @room.id %>/upload_photo"></div>
                <div class="container">
                 <div class="row">
                  <% @room.photos.each do |photo| %>
                    <div class="col-4">
                     <div class="card mt-2">
                      <%= image_tag url_for(photo), class:"card-img-top" %>
                       <div class="card-body">               
                        <p class="card-text">
                         <%= button_to '削除', delete_photo_room_url(photo_id: photo.id, id: @room.id), method: :delete, data: { turbo: false }, form: { onSubmit: "return check()" }, style: "z-index: 100;", class: "btn btn-outline-danger btn-sm" %></p>
                       </div>
                    </div>
                  </div>
                  <% end %>
                 </div>
                 </div>
                </div>      
                </div>
            </div>
        </div>
    </div>
</div>
# ユーザーアイコンのアップ
<%= form_with(model: @user) do |form| %>
    <div class="field">
      <%= form.label :profile_image %>
      <%= form.file_field :profile_image %>
    </div>
  
    <%= form.submit %>
<% end %>

<script>
function check(){
        if(window.confirm('本当に削除してよろしいですか？')){ 
          return true;}
        else{window.alert('キャンセルされました'); 
          return false; }}    
</script>
